# requirements.txt

# Core
pyyaml
numpy
opencv-python
opencv-python-headless
pillow
scipy
python-dotenv
mavsdk

# Vision / Embeddings
depthai
torch
torchvision

# Gesture

onnxruntime

# Dedupe

ImageHash
faiss-cpu
